nvim/plugin/
.nvimlog
*.swp
.nvimlog
tmux-*-*.log

# .config things
.config/tmux/plugins/
.config/btop
.config/helm
.config/htop
.config/go
.config/pet
# force update this; can differ between machines
.pi/agent/settings.json

chroma.log
.maki/*
